body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  color: #ffffff;
  border: 0;
  padding: 10px 35px;
  font-size: 20px;
  font-weight: 700;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.website-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.list-item-link {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
  margin-right: 51px;
}
ul li a {
  text-decoration: none;
  color: #474747;
}

.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}
.navbar {
  padding: 0px 200px;
}
.banner {
  padding: 35px 35px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-title {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
.banner-name {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 0;
}
.banner img {
  width: 500px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-bottom: 130px;
}
/* about section */
.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 131px 150px;
  margin: 130px 0;
}
.about-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.about-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.info-container {
  display: flex;
  justify-content: space-around;
}
.info {
  text-align: center;
}

#about-p {
  padding: 0 120px;
}

/* skill start */
.box-container {
  display: flex;
  gap: 24px;
}
.box {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume start */
.resume-container {
  display: flex;
  gap: 50px;
}
.education-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.engineering {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
}
.hardbard {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.button {
  text-align: center;
  margin-top: 50px;
}
footer {
  padding: 130px 200px;
  background-color: #fff8f3;
}
.foot {
  display: flex;
  gap: 100px;
  width: 100%;
}
.footertitle {
  color: var(--Dark-01, #181818);
  font-size: 35px;
  font-weight: 700;
}
.footerdes {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.footerColumn {
  width: 50%;
}
.footerColumn form {
  width: 100%;
}
.blockElement {
  display: block;
  width: 100%;
  border-radius: 5px;
  background: #fff;
  padding: 18px 30px;
  border: none;
  margin-bottom: 24px;
}
.anchor-gap a {
  margin-right: 24px;
}
.footer-title {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}
